<nav>
	<ul>
    <li ><a> <%= link_to "Home" , root_path %>  </a></li>
    <li> <a> <%= link_to "Product Catalogue" , product_catalogue_path %> </a></li>
   <li> <a> <%= link_to "Submitted Orders" , submitted_orders_path %> </a></li>
  </ul>

    
  </nav>